#
# This is example of the .env file
#


#
# Normally, values in this file override values from configuration fail edgebus.config or edgebus.toml
#

# Override "management" server configuration
edgebus.runtime.server.management.type = http
edgebus.runtime.server.management.listenHost = 127.0.0.1
edgebus.runtime.server.management.listenPort = 8081

# Override "ingress" server configuration
edgebus.runtime.server.ingress.type = http
edgebus.runtime.server.ingress.listenHost = 127.0.0.1
edgebus.runtime.server.ingress.listenPort = 8082

# Override "egress" server configuration
edgebus.runtime.server.egress.type = http
edgebus.runtime.server.egress.listenHost = 127.0.0.1
edgebus.runtime.server.egress.listenPort = 8083


# Cache URL (Redis only at the moment)
edgebus.runtime.cache.url = redis://127.0.0.1:6379/0


# Persistent storage URL (Postgres only at the moment)
edgebus.runtime.persistent.url = postgres://postgres:@127.0.0.1:5432/emptytestdb?schema=notifier


# Persistent storage URL (Postgres only at the moment)
edgebus.migration.persistent.url = postgres://postgres:@127.0.0.1:5432/emptytestdb?schema=notifier
