# Configure HTTP server
server.main.listenHost = 0.0.0.0
server.main.listenPort = 8443
server.main.type = https

# Enable (turn on) servers
server.indexes = main


# Configure endpoint "info"
endpoint.info.type = rest-info
endpoint.info.servers = main
endpoint.info.bindPath = /info
endpoint.info.cors.methods = GET
endpoint.info.cors.whiteList = *
endpoint.info.cors.allowedHeaders = *

# Configure endpoint "management"
endpoint.management.type = rest-management
endpoint.management.servers = main
endpoint.management.bindPath = /management

# Configure endpoint "publisher"
endpoint.publisher.type = rest-publisher
endpoint.publisher.servers = main
endpoint.publisher.bindPath = /publisher

# Configure endpoint "subscriber"
endpoint.subscriber.type = rest-subscriber
endpoint.subscriber.servers = main
endpoint.subscriber.bindPath = /subscriber

# Enable (turn on) endpoints
#endpoints = management
endpoints = info management publisher subscriber

# Cache URL (Redis only at the moment)
cacheStorage.url = redis://localhost:6379/0

# Persistent storage URL (Postgres only at the moment)
persistentStorage.url = postgres://postgres:5432/notifier


# =======================
# Database Migration only
# =======================

# Persistent storage URL (Postgres only at the moment)
persistentStorageMigration.url = postgres://your.postgres.server:5432/notifier
