# Configure HTTP server
server.main.listenHost = 0.0.0.0
server.main.listenPort = 8080
server.main.type = http

# Enable (turn on) servers
servers = main

# Configure endpoint "management"
endpoint.management.type = rest-management
endpoint.management.servers = main
endpoint.management.bindPath = /management

# Configure endpoint "publisher"
endpoint.publisher.type = rest-publisher
endpoint.publisher.servers = main
endpoint.publisher.bindPath = /publisher

# Enable (turn on) endpoints
endpoints = management
#endpoints = management publisher

# Cache URL (Redis only at the moment)
cacheStorage.url = redis://localhost:6379/4

# Cache storage URL (Redis only at the moment)
cacheStorage.url = redis://localhost:6379/4

# Persistent storage URL (Postgres only at the moment)
persistentStorage.url = postgres://postgres:6ZW8DuYPbwqWJXCL@local00.zxteam.net:25432/devdb
