#database.user.owner            = 
#database.user.api              = 
#
#
#database.name = 
#
#
#database.schema.audit.name               = edgebus_audit
#database.schema.audit.desc               = The schema contains audit data. Save all request/response through API endpoints.
database.schema.runtime.name             = edgebus_runtime
database.schema.runtime.desc             = The schema contains data related to main runtime. Such a topics, messages, etc.
#
